.header {
    height: 100vh;
    background-image: linear-gradient(
        to right,
        rgba($color-primary-light, 0.799), 
        rgba($color-primary-dark, 0.79)), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }

    &__logo {
        height: 2rem;
    }

    &__text-box {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}